# Build artifacts
*.exe
*.o
*.obj
*.pdb
*.ilk

# Dynamic libraries
*.dll
*.so
*.dylib

# Zips and archives
*.zip
*.7z
*.tar.gz
*.rar

# IDE and OS specific
.vscode/
.vs/
.idea/
*.suo
*.user
*.userb
.DS_Store

# Toolchains and library directories
SFML/
SFML_Extracted/
winlibs-*/
VC_redist.x64.exe
